<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>來風第五</title>
    <style>
        * {
            background-color: black;
            color: white;
        }

        input {
            width: 4em;
        }

        #flexme div {
            border: 1px solid white;
            padding: 0.5em;
            margin: 0.5em;
        }

        #flexme > div {
            flex: 1;
        }

        #flexme {
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 1024px) {
            #flexme {
                flex-direction: row;
            }
        }
    </style>
</head>

<body>
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
        const retina_dots_per_degree = 52;
        const retina_dots_per_rad = retina_dots_per_degree * 180 / Math.PI;
        const state = reactive({
            pixels_v: 1080,
            diag_cm: 50,
            w_ratio: 8,
            h_ratio: 5,
            distance_cm: 30,
        });
        // displays 1 decimal place
        const disp = (x) => Math.round(x * 10) / 10;
        // calculates display height
        const calc_height_cm = (diag_cm, w_ratio, h_ratio) => h_ratio * (diag_cm ** 2 / (w_ratio ** 2 + h_ratio ** 2)) ** 0.5;
        // calculates dots per cm
        const calc_dpcm = (diag_cm, pixels_v, w_ratio, h_ratio) => {
            const height_cm = calc_height_cm(diag_cm, w_ratio, h_ratio);
            return pixels_v / height_cm;
        };
        // calculates minimum viewing distance to achieve retina
        const calc_min_dist_cm = (diag_cm, pixels_v, w_ratio, h_ratio) => {
            const dpcm = calc_dpcm(diag_cm, pixels_v, w_ratio, h_ratio);
            return 1 / Math.atan(dpcm / retina_dots_per_rad);
        };
        // shortcuts
        const set_mbp14_screen = () => {
            state.diag_cm = 36;
            state.w_ratio = 9;
            state.h_ratio = 5.85;
        };
        const set_mbp14_1964p = () => {
            set_mbp14_screen();
            state.pixels_v = 1964;
        };
        const set_fw13_screen = () => {
            state.w_ratio = 3;
            state.h_ratio = 2;
            state.diag_cm = 34.25;
        };
        const set_fw13_1504p = () => {
            set_fw13_screen();
            state.pixels_v = 1504;
        };
        const set_Xp_16_9 = (p) => {
            state.w_ratio = 16;
            state.h_ratio = 9;
            state.pixels_v = p;
        };
        const calc_angle_v_deg = (diag_cm, w_ratio, h_ratio, distance_cm) => {
            const height_cm = calc_height_cm(diag_cm, w_ratio, h_ratio);
            return Math.atan(height_cm / distance_cm) * 180 / Math.PI;
        };
        const calc_max_diag_cm = (pixels_v, distance_cm, w_ratio, h_ratio) => {
            const max_height_cm = pixels_v / (retina_dots_per_rad * Math.tan(1 / distance_cm));
            return max_height_cm * (w_ratio ** 2 + h_ratio ** 2) ** 0.5 / h_ratio;
        };
        createApp({
            retina_dots_per_degree,
            state,
            calc_dpcm,
            calc_min_dist_cm,
            disp,
            set_mbp14_screen,
            set_mbp14_1964p,
            set_fw13_1504p,
            set_fw13_screen,
            set_Xp_16_9,
            calc_angle_v_deg,
            calc_max_diag_cm,
        }).mount()
    </script>

    <div v-scope>
        <h1># retina</h1>
        <h2>## {{ retina_dots_per_degree }} dots per degree</h2>
        <p>inspired by <a
                href="https://tools.rodrigopolo.com/display_calc/">https://tools.rodrigopolo.com/display_calc/</a></p>

        <div id="flexme">
            <div>
                <h3>### how far to sit?</h3>
                <div>
                    <button @click="set_mbp14_1964p">MacBook Pro 14 3024x1964</button>
                    <button @click="set_fw13_1504p">Framework Laptop 13 2256x1504</button>
                    <p>
                        display diagonal:
                        <input type="number" v-model="state.diag_cm" />
                        cm
                    </p>
                    <div>
                        <button @click="set_Xp_16_9(720)">720p 16:9</button>
                        <button @click="set_Xp_16_9(1080)">1080p 16:9</button>
                        <button @click="set_Xp_16_9(1440)">1440p 16:9</button>
                        <button @click="set_Xp_16_9(2160)">"4k" 16:9</button>
                        <p>
                            vertical pixels:
                            <input type="number" v-model="state.pixels_v" />
                        </p>
                        <p>
                            width-to-height ratio:
                            <input type="number" v-model="state.w_ratio" />
                            :
                            <input type="number" v-model="state.h_ratio" />
                        </p>
                    </div>
                </div>
                <p>dots per cm: {{ disp(calc_dpcm(state.diag_cm, state.pixels_v, state.w_ratio, state.h_ratio)) }}</p>
                <p>minimum distance to achieve retina: {{ disp(calc_min_dist_cm(state.diag_cm, state.pixels_v,
                    state.w_ratio, state.h_ratio)) }} cm</p>
            </div>

            <div>
                <h3>### how much resolution do I need?</h3>
                <div>
                    <button @click="set_mbp14_screen">MacBook Pro 14</button>
                    <button @click="set_fw13_screen">Framework Laptop 13</button>
                    <p>
                        display diagonal:
                        <input type="number" v-model="state.diag_cm" />
                        cm
                    </p>
                    <p>
                        width-to-height ratio:
                        <input type="number" v-model="state.w_ratio" />
                        :
                        <input type="number" v-model="state.h_ratio" />
                    </p>
                </div>
                <p>
                    viewing distance:
                    <input type="number" v-model="state.distance_cm" />
                    cm
                </p>
                <p>vertical viewing angle: {{ disp(calc_angle_v_deg(state.diag_cm, state.w_ratio, state.h_ratio,
                    state.distance_cm)) }} degrees</p>
                <p>minimum vertical pixels to achieve retina: {{ Math.round(retina_dots_per_degree *
                    calc_angle_v_deg(state.diag_cm, state.w_ratio, state.h_ratio, state.distance_cm)) }}</p>
            </div>

            <div>
                <h3>### how large of a screen should I get?</h3>
                <p>
                    viewing distance:
                    <input type="number" v-model="state.distance_cm" />
                    cm
                </p>
                <div>
                    <button @click="set_Xp_16_9(720)">720p 16:9</button>
                    <button @click="set_Xp_16_9(1080)">1080p 16:9</button>
                    <button @click="set_Xp_16_9(1440)">1440p 16:9</button>
                    <button @click="set_Xp_16_9(2160)">"4k" 16:9</button>
                    <p>
                        vertical pixels:
                        <input type="number" v-model="state.pixels_v" />
                    </p>
                    <p>
                        width-to-height ratio:
                        <input type="number" v-model="state.w_ratio" />
                        :
                        <input type="number" v-model="state.h_ratio" />
                    </p>
                </div>
                <p>maximum screen diagonal: {{ disp(calc_max_diag_cm(state.pixels_v, state.distance_cm, state.w_ratio,
                    state.h_ratio)) }} cm</p>
            </div>
        </div>
    </div>
</body>

</html>